.landing, .building {
    height: 100vh;
    background-image: url('/img/landing.jpg');
    background-size: cover;
    background-position: top;
    padding-bottom: 20vh;
}

.welcome-message {
    @apply container mx-auto text-center xl:text-right h-50vh flex flex-col justify-around;

    h2 {
        text-shadow: 1px 1px 2px black;
        @apply text-3xl font-medium text-white;
    }
}

.services {
    @apply grid lg:grid-cols-5 container px-5 py-10 mt-10 mx-auto;

    .rounded-lg {
        display: flex;
        flex-direction: column;

        .bg-\[\#ECFCCB\] {
            flex: 1;
            position: relative;

            p {
                position: absolute;
                bottom: 0.75rem;
                right:  0.75rem;
            }
        }
    }
}

#vgt-table .vgt-left-align {
    padding: 0.75rem 0.25rem;
}
