.landing, .building {
    height: 100vh;
    background-image: url('/img/landing.jpg');
    background-size: cover;
    background-position: top;
    padding-bottom: 20vh;
}

.welcome-message {
    @apply container mx-auto text-center xl:text-right h-50vh flex flex-col justify-around;

    h2 {
        text-shadow: 1px 1px 2px black;
        @apply text-3xl font-medium text-white;
    }
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 25px;

    .rounded-lg {
        display: flex;
        flex-direction: column;

        .bg-\[\#ECFCCB\] {
            flex: 1;
            position: relative;

            p {
                position: absolute;
                bottom: 0.75rem;
                right:  0.75rem;
            }
        }
    }
}

#vgt-table .vgt-left-align {
    padding: 0.75rem 0.25rem;
}
