@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.test-parallax {

}

.landing {
    height: 100vh;
    background-image: url('/img/landing.jpg');
    background-size: cover;
    background-position: center;
}
